// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';


#app{
    background-image:linear-gradient(
        rgba(0, 0, 0, 0.5),
        rgba(0, 0, 0, 0.5)
      ), url(/images/back.jpg);
    min-height: 100vh;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}
.navbar a{
    color: white;
}

.bg-light{
    background-color: #e1ccb1!important;
}

.dropdown-menu{
    background-color: #74736e;
}

.bg-blue{
   background-color: #7c7346;
   
}

#admin_menu{
    ul{
        height: 100vh;

        a{
            color: white;
        }
    }
}

.category{
    border: 1px solid black;
    border-radius: 50%;
    width: 100%;
    height: 270px;
    display: flex;
    justify-content: center;
    align-items: center;
    // background-color: aliceblue;
    color: black;
}
.maincourse{
    filter: brightness(50%);
    height: 300px;
}
.textt{
    line-height: 40px;
}
.card-header{
        font-size: 12px;
        height: 40px;
}

.book{
    background-color: #664e85;
    display: flex;
    justify-content: center;
    height: 400px;
    align-items: center;
    border: 1px solid gray;
    border-radius: 21px;
}

.book a {
    text-decoration: none ;
    color: white;
}

.hovereffect {
    overflow:hidden;
    text-align:center;
}
.hovereffect img {
    transition:all .4s linear;
}
.hovereffect:hover img {
    -webkit-transform:scale(1.2);
    cursor: grab;
}

#main{
    background-color: #d1c4b3;
   
}

 #cke_text{
    width: 100%;
}