// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';


#app{
    background-image:linear-gradient(
        rgba(0, 0, 0, 0.5),
        rgba(0, 0, 0, 0.5)
      ), url(/images/back.jpg);
    min-height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}
.navbar a{
    color: white;
}
.dropdown-menu  a{
    color: white;
}

// .bg-light{
//     background-color: #b1d0dd!important;
// }

.dropdown-menu{
    background-color: #142c36;
}

.bg-blue{
   background-color: #7c7346;
   
}

#admin_menu{
    ul{
        height: 100vh;

        a{
            color: white;
        }
    }
}

.category{
    border: 1px solid black;
    border-radius: 50%;
    width: 75%;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    // background-color: aliceblue;
    color: black;
}
.maincourse{
    filter: brightness(50%);
    height: 200px;
}
.textt{
    line-height: 40px;
}
.card-header{
        font-size: 12px;
        height: 40px;
}

.book{
    background-color: #664e85;
    display: flex;
    justify-content: center;
    height: 300px;
    align-items: center;
    border: 1px solid gray;
    border-radius: 21px;
}

.book a {
    text-decoration: none ;
    color: white;
}

.hovereffect {
    overflow:hidden;
    text-align:center;
}
.hovereffect img {
    transition:all .4s linear;
}
.hovereffect:hover img {
    -webkit-transform:scale(1.2);
    cursor: grab;
}

#main{
    background-color: #d1c4b3;
   
}

 #cke_text{
    width: 100%;
}
.bg-white{
    background-color: rgb(206, 204, 204);
}
#fh5co-hero .flexslider .slider-text > .slider-text-inner {
    display: table-cell;
    vertical-align: middle;
    min-height: 700px;
}

#fh5co-hero .flexslider .slider-text {
    display: table;
    opacity: 0;
    min-height: 630px;
    height: 630px;
    z-index: 9;
}

.dasht div{
    background: #d7e9f3;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 250px;
    border: 2px solid black;
    font-size: 18px;
    font-weight: 600;
    margin-top: 10px;
}